<div class="header">
  <h1>Quotes Inc.</h1>
  <p>Who quotes the quoters</p>
</div>
<fieldset>
  <form action="/quotes" method="POST">
    <div class="form-group col-md-4">
      <input name="quote" placeholder="This is a quote..."/>
    </div>
    <div class="form-group col-md-4">
      <input name="author" placeholder="Author's Name"/>
    </div>
    <div class="form-group col-md-4">
      <input type="submit" class="btn btn-info col-md-12" value="Submit">
    </div>
  </form>
</fieldset>
